<!DOCTYPE html>
<html>
  <head>
    <title>Tomato Server</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="icon" type="image/svg+xml" href="images/logo.svg" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <span> Tomato </span> </span> <%= title %></p>
    <button id="fetchButton">Items Count</button>
    <div id="displayFoodItemsCount">
      <h1 id="foodItemsCount"></h1>
    </div>
    <script src="javascripts/script.js"></script>
  </body>
</html>
